# Android Studio / IntelliJ
*.iml
.idea/
.gradle/

# Local configuration
local.properties

# Build output
/build
*/build/

# Captures
/captures

# Native build
.externalNativeBuild/
.cxx/

# APK / AAB
*.apk
*.aab

# Generated Android files
output-metadata.json
